@import "tailwindcss";

/* default code */
*{
    padding:0;
    margin: 0;
}

/* header code */

header{
    width: 100%;
    top: 0;
    font-family: 'Helvetica Neue', sans-serif;

}

.logo-container > a{
    width: fit-content;
}

.logo-container .logo  {
    position: absolute;
    width: 230px;
    height: 40px;
    top: 32px;
    filter: drop-shadow(0 0 1px #000000);
    z-index: 2;
    left: 15%;
    transition: transform 0.3s, filter 0.3s;
}

/* header ends here */

/* navbar starts here */

.navbar{
    position: absolute;
    background-color: #b40000;
    filter: drop-shadow(0 0 6px #b40000);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 0; /* Ensures the nav is above the video */
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 70px;
    margin-left: 60%;
}

nav > ul > li{
    padding: 14px 0px;
    vertical-align: top;
    display: inline-block;
    transition: color 0.3s ease;
}



.nav-item.active {
  color: #fff;
}


.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 20px;
  background: #ffffff;
  transition: left 0.3s ease;
}

nav > ul > li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

.connect{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    text-decoration: none;
    padding: 6px 10px;
    gap: 8px;
}

.connect > a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.connect img{
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    display: block;
    filter: brightness(0) invert(1);
}

/* navbar ends here */

/* hero section starts here */
.mainFrame{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0; /* Ensures the video is below the text */
    
}



.mainFrame h1{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
    -webkit-text-stroke: 2px #b40000;
    text-align: center;
    z-index: 1; /* Ensures the text is above the video */
    opacity: 0;
    animation: fadeSlideUp 1.5s ease-out forwards;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.588);
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 30%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.mainFrame p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-wrap: nowrap;
    text-decoration: double;
    width: 400px;
    text-align: left;
    z-index: 1; /* Ensures the text is above the video */
    opacity: 0;
    animation: fadeInText 1.5s ease-out forwards;
}
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translate(-50%, 30%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.m-BContainer{
    margin-top: 100px;
    margin-right: 100px;
}

.m-BContainer  button{
    position: absolute;
    padding: 10px 20px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b40000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    filter: drop-shadow(0 0 10px #b40000);
    display: flex;
    animation: fadeInButton 1.5s ease-out forwards;
    opacity: 0;
    align-items: center;
    gap: 8px;
}
@keyframes fadeInButton {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.m-BContainer  button:hover{
    background-color: #d26666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}




.page2{
    background-color: #b40000;
    color: #effffd;
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: 100px;
}

.page2 p{
    font-size: 16px;
    color: #ffffff;
    opacity: 0.5;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    /* Add any additional styles here */
}
.page2 p:hover{
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; /* Space between icons */
    margin-top: 15px; /* Space above icons */
    margin-left: 65%;
}

.profile-icon i {
    font-size: 32px;
    color: #ffffff;
    transition: transform 0.3s, color 0.3s;
}

.profile-icon i:hover {
    transform: scale(1.2);
    color: #ffffff;
    opacity: 0.9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer; /* Change cursor to pointer on hover */
    filter: drop-shadow(0 0 10px #ffffff);

}

.page2 h1, .page2 h2{
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.page2 h2{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}


.page2 h1{
    font-size: 40px;
    font-weight: 600;
    color: #effffd;
    text-align: center;
}

.profile{
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    -webkit-animation: scrollFadeIn 2s ease-out forwards;
    animation: scrollFadeIn 2s ease-out forwards;
    background-color: #b40000;
}
@keyframes scrollFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile img{
    width:220px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #effffd;
    margin-left: 80px;
    filter: drop-shadow(0 0 10px #effffd);
}

.profileText2{
    padding-top: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 250px;
    align-items: center;
    text-align: center;
}

.page3{
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.about h1{
    font-size: 40px;
    font-weight: 600;
    color: #b40000;
    text-align: center;
    margin-top: 20px;
}
.about-row{
    display: grid;
    grid-template-columns: 100px 500px 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.about-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    gap: 50px;
}
.about-icons i {
    font-size: 32px;
    color: #b40000;
    transition: transform 0.3s, color 0.3s;
}

.line {
    width: 2px;                
    height: 500px;            
    background-color: #b40000;
    filter: drop-shadow(0 0 10px #b40000);
    margin: 20px auto;
    transition: transform 0.3s, filter 0.3s;
}

.bio p{
    font-size: 16px;
    color: #000000;
    opacity: 0.6;
    text-align: center;
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.about button{
    padding: 10px 20px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b40000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 650px;
    z-index: 1; /* Ensures the button is above the video */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    filter: drop-shadow(0 0 10px #b40000);
    display: flex;
    align-items: center;
    gap: 8px;
}

.about button:hover{
    background-color: #d26666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}